.swiper-button-next, .swiper-button-prev {
    color: white; 
   
  }
  .swiper-scrollbar-drag  {
    background: rgba(255,255,255,0.9); /* Light black background for the track */
  
    height: 1px;
  }@media (max-width: 767px) {
    .swiper-button-next, .swiper-button-prev {
        display: none;
    }
}